<div class="row">
  <div class="col">
    <%= form_tag search_communities_path, method: :get do %>
    <%= text_field_tag :search, nil, placeholder: "Search communities..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <p class="h5">Popular posts</p>
</div>
</div>
<div class="row">
<div class="col-8">
  <%= render partial: "posts/list", locals: { posts: @posts } %>
</div>
<div class="col-4">
  <p class="h5 mb-4">Top 5 Popular Communitites</p>
  <div class="card">
    <ul class="list-group list-group-flush">
      <% @communities.each do |community| %>
        <li class="list-group-item"><%= link_to community.name, community_path(community)%></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "View all", communities_path, class: "btn btn-primary mt-2" %>

  <p class="h5 mb-4 mt-4">Recent 4 SpaceX Hashtags</p>
  <% @tweets.each do |tweet| %>
    <div class="card mt-3 pb-2 pt-2 pl-3 pr-3 mb-3">
      <tr>
        <td><%= tweet.full_text %></td>
      </tr>
    </div>
  <% end %>

  <p class="h5 mb-4 mt-4">RSS Feed</p>
    <div class="card mt-3 pb-2 pt-2 pl-3 pr-3 mb-3">
    </div>
</div>
